body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active {
  font-weight: bolder;
  background: rgb(101, 101, 151);
  color: aliceblue;
}
#show {
  display: block;
}
#hide {
  display: none;
}

.new-modal {
  position: absolute;
  z-index: 2;
  background: rgba(107, 100, 100, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.new-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10em;
}
.new-modal-container {
  background: #fff;
  width: 65%;
}
.flex-group {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.form-group {
  flex: 1;
  margin: 2em;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #000;
}
.circle-cont {
  flex: 1;
}
.circle > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
